#header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212820;
    height: 60px;
}

.header-line{
    display: flex;
    gap: 100px;
    max-width: 1440px;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

#loading-spinner{
    width: 250px;
    height: 250px;
}

#poke-card-container{
    background-color: #53624b;
}

#poke-card-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    width: 100%;
    max-width: 800px;
    height: auto;
    
}

.poke-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 180px;
    width: 260px;
}

.poke-card-headline{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.poke-card-name::first-letter{
    text-transform: uppercase;
}

.uppercase::first-letter{
    text-transform: uppercase;
}

.poke-card-pic{
    width: 100px;
    height: 100px;
}

.poke-card-type-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.poke-card-types{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.poke-card-type {
    border-radius: 14px;
    padding: 6px;
    width: 100px;
    text-align: center;
    color: white;
}






#footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #212820;
}

.footer-content{
    display: flex;
    max-width: 1440px;
    gap: 40px;
}