.card-color-fire {
    background: linear-gradient(135deg, #5c2818);
}

.card-color-water {
    background: linear-gradient(135deg, #1f3b66);
}

.card-color-grass {
    background: linear-gradient(135deg, #245032);
}

.card-color-electric {
    background: linear-gradient(135deg, #756100);
}

.card-color-ice {
    background: linear-gradient(135deg, #356565);
}

.card-color-fighting {
    background: linear-gradient(135deg, #662020);
}

.card-color-poison {
    background: linear-gradient(135deg, #5a245a);
}

.card-color-ground {
    background: linear-gradient(135deg, #6d5925);
}

.card-color-flying {
    background: linear-gradient(135deg, #4d3d87);
}

.card-color-psychic {
    background: linear-gradient(135deg, #87304c);
}

.card-color-bug {
    background: linear-gradient(135deg, #56611d);
}

.card-color-rock {
    background: linear-gradient(135deg, #6d6225);
}

.card-color-ghost {
    background: linear-gradient(135deg, #47356d);
}

.card-color-dragon {
    background: linear-gradient(135deg, #3a1d75);
}

.card-color-dark {
    background: linear-gradient(135deg, #43352c);
}

.card-color-steel {
    background: linear-gradient(135deg, #5a6273);
}

.card-color-fairy {
    background: linear-gradient(135deg, #87485d);
}

.card-color-normal {
    background: linear-gradient(135deg, #5a5a45);
}

.type-color-normal {
    background: #A8A878;
}

.type-color-fire {
    background: #F08030;
}

.type-color-water {
    background: #6890F0;
}

.type-color-electric {
    background: #F8D030;
}

.type-color-grass {
    background: #78C850;
}

.type-color-ice {
    background: #98D8D8;
}

.type-color-fighting {
    background: #C03028;
}

.type-color-poison {
    background: #A040A0;
}

.type-color-ground {
    background: #E0C068;
}

.type-color-flying {
    background: #A890F0;
}

.type-color-psychic {
    background: #F85888;
}

.type-color-bug {
    background: #A8B820;
}

.type-color-rock {
    background: #B8A038;
}

.type-color-ghost {
    background: #705898;
}

.type-color-dragon {
    background: #7038F8;
}

.type-color-dark {
    background: #705848;
}

.type-color-steel {
    background: #B8B8D0;
}

.type-color-fairy {
    background: #EE99AC;
}