.card-color-grass{
    background-color: #49d07f;  
}

.card-color-fire{
    background-color: #d35533
}

.card-color-water{
    background-color: #748cc8
}

.card-color-bug{
    background-color: #a5c756
}

.card-color-normal{
    background-color: #a4a4a4
}

.card-color-poison{
    background-color: #a95aab
}

.card-color-electric{
    background-color: #f8d054
}

.card-color-flying{
    background-color: #9ea9d7
}

.card-color-ground{
    background-color: #a26522
}

.card-color-fairy{
    background-color: #dab0d4
}

.card-color-fighting{
    background-color: #c7703a
}

.card-color-psychic{
    background-color: #c97295
}

.card-color-rock{
    background-color: #845c39
}

.card-color-steel{
    background-color: #b8b9ce
}

.card-color-ghost{
    background-color: #9d70b1
}

.card-color-ice{
    background-color: #a5d7d8
}

.card-color-dragon{
    background-color: #50a495
}




.type-color-grass{
    background-color: #53a93a;
}

.type-color-poison{
    background-color: #954b98
}

.type-color-fire{
    background-color: #e94127
}

.type-color-water{
    background-color: #3f77c1
}

.type-color-flying{
    background-color: #8096f1
}

.type-color-bug{
    background-color: #b0e92d
}

.type-color-normal{
    background-color: #726a6a
}

.type-color-electric{
    background-color: #ad8a1d
}

.type-color-ground{
    background-color: #74430e
}

.type-color-fairy{
    background-color: #d792bf
}

.type-color-fighting{
    background-color: #b13d30
}

.type-color-psychic{
    background-color: #bf5b99
}

.type-color-rock{
    background-color: #b2a04a
}

.type-color-steel{
    background-color: #5b8196
}

.type-color-ghost{
    background-color: #665ea7
}

.type-color-ice{
    background-color: #72acc2
}

.type-color-dragon{
    background-color: #357267
}


