html{
    font-family: "Orbitron";
    color: white;
    
    
}

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

main{
     background:
        radial-gradient(circle at top left,
        #1e293b 0%,
        #0b1120 50%,
        #020617 100%);
}

button{
    cursor: pointer;
    background: none;
    border: none;
}

table{
    font-size: 10px;
    border-spacing: 50px 20px;
}


