html {
    font-family: "Orbitron";
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.no-scroll {
    overflow: hidden;
}

main {
    background-color: #0B1120;
    flex: 1;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

table {
    font-size: 12px;
    border-spacing: 35px 20px;
}

th {
    color: black;
    height: 20px;
}

tr {
    color: #696b70;
}