<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../img/95c-pokeball-1594373.png" />
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../style/assets.css" />
    <link rel="stylesheet" href="../../style/fonts.css" />
    <link rel="stylesheet" href="../../style/standard.css" />



    <title>Pokedex - Imprint</title>
</head>

<body>

    <header id="header-container">
        <div class="header-line">
            <a href="../../index.html"><img class="img-logo" src="../img/95c-pokeball-1594373.png" alt="Pokeball"></a>
            <h1 id="headline">Pokedex</h1>
    </header>

    <main class="content">
        <!-- Imprint -->
        <section class="imprint_container">
            <div class="imprint_container--imprint">
                <div class="imprint">




                    <h1>Impressum</h1>
                    <p>Angaben gemäß § 5 DDG</p>
                    <p>Marc Merscher<br>
                        Saarwellinger Straße 133<br>
                        66773 Schwalbach <br>
                    </p>

                    <p><strong>Kontakt:</strong> <br>
                        Telefon: +49 172 7505266<br>
                        Fax: -<br>
                        E-Mail: Marc.Merscher@gmx.de </br><br>

                    <p><strong>Verbraucherstreitbeilegung / Universalschlichtungsstelle</strong>
                        <br>Wir nehmen nicht an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil
                        und sind dazu auch nicht verpflichtet.
                    </p>
                    </p>
                    <p><strong>Haftungsausschluss: </strong>
                        <br><strong>Haftung für Inhalte</strong><br>
                        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
                        Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als
                        Diensteanbieter sind wir gemäß § 7 Abs.1 DDG für eigene Inhalte auf diesen Seiten nach den
                        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter jedoch
                        nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach
                        Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
                        Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
                        hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis
                        einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
                        Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                    </p>


                </div>
            </div>
        </section>
        <footer id="footer-container">
            <div class="footer-content">
                <p class="copy-right">© 2026 Pokedex</p>
                <a href="../components/imprint.html">Imprint</a>
                <a href="../components/privacy-policy.html">Privacy Policy</a>
            </div>
        </footer>
    </main>
</body>
<script src="../../script.js" defer></script>

</html>

</body>

</html>